# Python caching
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Project files and directories
.boto
data/
docker/
gcs-service-account.json
hpakf/
pytorchjobs/
work/